video{
    display: none;
}

canvas{
    display: none;
}

#container{
    height: 98vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

p{
    font-weight:500;
    font-size:10px;
    font-family: monospace, monospace;
    white-space: pre-wrap;
    border: 2px black solid;
}